<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义日志的根目录 -->
    <property name="LOG_HOME" value="../logs" />

    <!--把日志输出到控制台-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %p [%t] [%logger][%M:%L]  - %m%n</pattern>
        </encoder>
    </appender>

    <!--滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件。-->
    <appender name="out"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOG_HOME}/face.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %p [%t] [%logger][%M:%L]  - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/face.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <!--减少log4jdbc输出的比如连接、执行时间、参数绑定、结果等信息-->
    <logger name="jdbc.sqlonly" level="ERROR"/>
    <logger name="jdbc.audit" level="ERROR"/>
    <logger name="jdbc.resultset" level="ERROR"/>
    <logger name="jdbc.connection" level="ERROR"/>

    <!--打印所有包的日志-->
    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="out" />
    </root>

<!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <logger name="jdbc.connection" additivity="false" level="OFF">
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="stdout" />
        <appender-ref ref="out" />
    </logger>
    <logger name="jdbc.resultset" additivity="false" level="OFF">
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="stdout" />
        <appender-ref ref="out" />
    </logger>
    <logger name="jdbc.audit" additivity="false" level="OFF">
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="stdout" />
        <appender-ref ref="out" />
    </logger>
    <logger name="jdbc.sqlonly" additivity="false" level="INFO">
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="stdout" />
        <appender-ref ref="out" />
    </logger>
    <logger name="jdbc.sqltiming" additivity="false" level="OFF">
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="stdout" />
        <appender-ref ref="out" />
    </logger>
    <!--人脸服务-->
    <logger name="com.shuishu.face.openvisual" level="INFO" additivity="false">
        <appender-ref ref="stdout" />
        <appender-ref ref="out" />
    </logger>
</configuration>